body{
  background-image: url('../public/Images/FondoPrueba.jpg');
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100svh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}