body, html {
  margin: 0;
  background-color: transparent !important;
}

.MuiContainer-root, .MuiBox-root {
  background-color: transparent;
}

.background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background-image: url('/Images/FondoPrueba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

